<!DOCTYPE html>
<html>
<head>
    <title>Add Maintenance Log</title>
</head>
<body>

<h1>Add Maintenance Log</h1>

<form method="POST">

    Maintenance Date:
    <input type="date" name="maintenance_date"><br><br>

    Technician Name:
    <input type="text" name="technician_name"><br><br>

    Issue Reported:
    <input type="text" name="issue_reported"><br><br>

    Resolution Notes:
    <input type="text" name="resolution_notes"><br><br>

    Next Due Date:
    <input type="date" name="next_due_date"><br><br>

    <button type="submit">Save Log</button>

</form>

</body>
</html>
