<!DOCTYPE html>
<html>
<head>
    <title>Add Equipment</title>
</head>
<body>

<h1>Add Equipment</h1>

<form method="POST">

    Equipment Name:
    <input type="text" name="equipment_name"><br><br>

    Serial Number:
    <input type="text" name="serial_number"><br><br>

    Department:
    <input type="text" name="department"><br><br>

    Purchase Date:
    <input type="date" name="purchase_date"><br><br>

    Status:
    <input type="text" name="status"><br><br>

    <button type="submit">Add Equipment</button>

</form>

</body>
</html>
